footer.footer
  .container.footer__container
    .footer__col
      p.contacts__text.footer__contacts
        |Барбеершоп «Бородинский» 
        br
        |Адрес: г. Санкт-Петербург, б. Конюшенная, д. 19/8 
        br
        a.contacts__link(href='#') Как нас найти?
        br
        a.contacts__link_tel(href='tel: +7495666-02-66') Телефон: +7 (495) 666-02-66
    .footer__col
      .socials
        h5.footer__title Давайте дружить!
        ul.socials__list
          li.socials__item.social__vk
            a(href='#' target='_blank')
          li.socials__item.social__fb
            a(href='#' target='_blank')
          li.socials__item.social__inst
            a(href='#' target='_blank')
    .footer__col
      h5.footer__title Разработано:
      a.copiright(href='https://htmlacademy.ru/' target='_blank') htmlacademy.ru