header.header
  .container
    nav.navigation
      ul.navigation__list
        li.navigation__item
          a.navigation__link(href='#')
            img(src='../../img/logo/logo-header.png')
        li.navigation__item
          a.navigation__link(href='#') Информация
        li.navigation__item
          a.navigation__link(href='#') Новости
        li.navigation__item
          a.navigation__link(href='#') Прайс-лист
        li.navigation__item
          a.navigation__link(href='#') Магазин
        li.navigation__item
          a.navigation__link(href='#') Контакты
    .user_block
      a.login(href='#')
        span.login__icon
        span.login__text Вход