header.header
  .container.header_container
    ul.navigation__list
      li.navigation__item
        a.navigation__link(href='index.html')
          img(src='../../img/logo/logo-header.png')
      li.navigation__item
        a.navigation__link(href='/#adw') Информация
      li.navigation__item
        a.navigation__link(href='news.html') Новости
      li.navigation__item
        a.navigation__link(href='price.html') Прайс-лист
      li.navigation__item
        a.navigation__link(href='shop.html') Магазин
      li.navigation__item
        a.navigation__link(href='/#contacts') Контакты
    .user_block
      a.login(href='#')
        .login__icon
        .login__text Вход