extends ../template

block variables
  - var title = 'Barbershop Borodinski'

block content
  .wrapper
    header.header
      .container.header_container
        ul.navigation__list
          li.navigation__item
            a.navigation__link(href='#') Информация
          li.navigation__item
            a.navigation__link(href='news.html') Новости
          li.navigation__item
            a.navigation__link(href='price.html') Прайс-лист
          li.navigation__item
            a.navigation__link(href='shop.html') Магазин
          li.navigation__item
            a.navigation__link(href='#') Контакты
        .user_block
          a.login(href='#')
            .login__icon
            .login__text Вход
    main.main_content
      .container
        .logo
          img(src='img/logo/logo.png', alt='Барбершоп Бородинский')
        ul.advanteges__list
          li.advanteges__item
            .advanteges__title Быстро
            p.advanteges__text.text
              | Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладетель стильной стрижки-минутки!
          li.advanteges__item
            .advanteges__title Круто
            p.advanteges__text.text
              | Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино! Во всяком случае внешне.
          li.advanteges__item
            .advanteges__title Дорого
            p.advanteges__text.text
              | Наши мастера — профессионалы своего дела и не могут стоить дешево. К тому же, разве цена не дает определённый статус?
        .index__content
          .column.column_left
            .news
              h2.title Новости
              ul.news__list_main
                li.news__item_main
                  .news__text.text
                    | Нам наконец завезли ягермайстер! Теперь вы можете пропустить стаканчик во время стрижки
                  data.news__data(value='2017-09-25') 25 сентября
                li.news__item_main
                  .news__text.text
                    | В нашей команде пополнение, борис «бритва» стригунец, обладетель множества титулов и наград пополнил наши стройные ряды
                  data.news__data(value='2017-09-19') 19 сентября
              a.btn(href='#') Все новости
          .column.column_right
            .gallary
              h2.title Фотогалерея
              .gallary__photo
                img.gallery__img(src='img/gallery/1.jpg')
              .gallary_btns
                button.btn.btn__prew(type='button') Назад
                button.btn.btn__next(type='button') Вперед
        .index__content
          .column.column_left
            .contacts
              h2.title Контактная инофрмация
              p.contacts__text.text
                | Барбеершоп «Бородинский» 
                br
                |Адрес: г. Санкт-Петербург, б. Конюшенная, д. 19/8 
                br
                |Телефон: +7 (495) 666-02-66
              p.contacts__text.text
                | Время работы: 
                br
                |ПН — ПТ: С 10:00 ДО 22:00 
                br
                |СБ — ВС: С 10:00 ДО 19:00
              a.btn(href='#') Как проехать
              a.btn(href='#') Обратная связь
          .column.column_right
            h2.title Записаться
            p.form__text.text Укажите желаемую дату и время и мы свяжемся с вами для подтверждения брони
            form.form(action='post')
              .form__row
                input.input(type='date', name='date', placeholder='Дата')
                input.input(type='time', name='time', placeholder='Время')
              .form__row
                input.input(type='text', name='name', placeholder='Ваше имя')
                input.input(type='tel', name='tel', placeholder='Телефон')
              button.btn.btn__form(type='submit', name='button') Отправить
  include ../common/footer.pug
