extends ../template

block variables
  - var title = 'Магазин Borodinski'

block content
    .wrapper
        include ../common/header
        .container
            h1.main__title Набор для путешествий «Baxter of California»
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    a(href="#").breadcrumbs__link Магазин
                li.breadcrumbs__item
                    a(href="#").breadcrumbs__link Средства для ухода
                li.breadcrumbs__item
                    a(href="#").breadcrumbs__link Набор для путешествий «Baxter of California»
            main.content.content__item
                ul.item__imgs
                    li.item__img
                        img(src="../../img/products/BOF-1.png").img__pic
                    li.item__img.mini
                        img(src="../../img/products/BOF-2.png").img__pic
                    li.item__img.mini
                        img(src="../../img/products/BOF-3.png").img__pic
                    li.item__img.mini
                        img(src="../../img/products/BOF-1.png").img__pic
                .desc__item
                    .about__item
                        span.present Есть в наличии
                        span.articul Артикул: dexter-ae
                    p.text.item__text Travel Kit – необходимый аксессуар во время любого путешествия. В аккуратной кожаной сумке находится все, что нужно для бритья и ухода за кожей во время рабочей поездки или отдыха: средство для умывания, увлажняющий крем, крем для бритья, крем после бритья, шампунь. Набор также может стать отличным подарком.
                    .item__price
                        .product__price 2 900 руб.
                        btn.btn.buy Купить
                    h2.adw__title В набор входят:
                    ul.composition__list
                        li.composition__item Средство для умывания (50 мл)
                        li.composition__item Увлажняющий крем (50 мл)
                        li.composition__item Крем для бритья (50 мл)
                        li.composition__item Крем после бритья, шампунь (50 мл)
                        li.composition__item Удобная кожаная косметичка
    include ../common/footer