extends ../template

block variables
  - var title = 'Магазин Borodinski'

block content
    .wrapper
        include ../common/header
        .container
            h1.main__title Средства для ухода
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    a(href="#").breadcrumbs__link Магазин
                li.breadcrumbs__item
                    a(href="#").breadcrumbs__link Средства для ухода
            main.content.content__shop
                ul.filter
                    li.filter__item
                        form(action="/").filter__manufacturers
                            h2.adw__title Производители:
                            ul.manufacturer__list
                                li.manufacturer__item
                                    label.form__label.form__label-chekbox
                                        input.form__chekbox(type="checkbox" name="manufacturer" value="Baxter of California" checked)
                                        span.form__chekbox-fake
                                        span.form__label Baxter of California
                                li.manufacturer__item
                                    label.form__label.form__label-chekbox
                                        input.form__chekbox(type="checkbox" name="manufacturer" value="Mr Natty")
                                        span.form__chekbox-fake
                                        span.form__label Mr Natty
                                li.manufacturer__item
                                    label.form__label.form__label-chekbox
                                        input.form__chekbox(type="checkbox" name="manufacturer" value="Suavecito" checked)
                                        span.form__chekbox-fake
                                        span.form__label Suavecito
                                li.manufacturer__item
                                    label.form__label.form__label-chekbox
                                        input.form__chekbox(type="checkbox" name="manufacturer" value="Malin+Goetz")
                                        span.form__chekbox-fake
                                        span.form__label Malin+Goetz
                                li.manufacturer__item
                                    label.form__label.form__label-chekbox
                                        input.form__chekbox(type="checkbox" name="manufacturer" value="Murray’s")
                                        span.form__chekbox-fake
                                        span.form__label Murray’s
                                li.manufacturer__item
                                    label.form__label.form__label-chekbox
                                        input.form__chekbox(type="checkbox" name="manufacturer" value="American Crew" checked)
                                        span.form__chekbox-fake
                                        span.form__label American Crew
                    li.filter__item
                        form(action="/").filter__groups
                            h2.adw__title Группы товаров:
                            ul.group__list
                                li.group__item
                                    label.form__label.form__label-radio
                                        input.form__radio(type="radio" name="group" value="Бритвенные принадлежности")
                                        span.form__radio-fake
                                        span.form__label Бритвенные принадлежности
                                li.group__item
                                    label.form__label.form__label-radio
                                        input.form__radio(type="radio" name="group" value="Средства для ухода" checked)
                                        span.form__radio-fake
                                        span.form__label Средства для ухода
                                li.group__item
                                    label.form__label.form__label-radio
                                        input.form__radio(type="radio" name="group" value="Аксессуары")
                                        span.form__radio-fake
                                        span.form__label Аксессуары
                    li.filter__item
                        btn.btn Показать
                ul.product__list
                    li.product__item
                        a.product__link(href="item.html")
                            .poduct__top
                                img(src="../../img/products/1.jpg", alt="")
                            .product__bottom
                                .product__name 
                                    |Набор для путешествий 
                                    br
                                    |«Baxter of California»
                                .product__row
                                    .product__price 2 900 руб.
                                    btn.btn.buy Купить
                    li.product__item
                        a.product__link(href="#")
                            .poduct__top
                                img(src="../../img/products/2.jpg", alt="")
                            .product__bottom
                                .product__name
                                    |Увлажняющий кондиционер 
                                    br
                                    |«Baxter of California»
                                .product__row
                                    .product__price 750 руб.
                                    btn.btn.buy Купить
                    li.product__item
                        a.product__link(href="#")
                            .poduct__top
                                img(src="../../img/products/3.jpg", alt="")
                            .product__bottom
                                .product__name
                                    |Гель для волос 
                                    br
                                    |«SUAVECITO»
                                .product__row
                                    .product__price 290 руб.
                                    btn.btn.buy Купить
                    li.product__item
                        a.product__link(href="#")
                            .poduct__top
                                img(src="../../img/products/4.jpg", alt="")
                            .product__bottom
                                .product__name
                                    |Глина для укладки волос
                                    br
                                    |«American crew»
                                .product__row
                                    .product__price 500 руб.
                                    btn.btn.buy Купить
                    li.product__item
                        a.product__link(href="#")
                            .poduct__top
                                img(src="../../img/products/5.jpg", alt="")
                            .product__bottom
                                .product__name
                                    |Гель для волос
                                    br
                                    |«American crew»
                                .product__row
                                    .product__price 300 руб.
                                    btn.btn.buy Купить
                    li.product__item
                        a.product__link(href="#")
                            .poduct__top
                                img(src="../../img/products/6.jpg", alt="")
                            .product__bottom
                                .product__name
                                    |Набор для бритья
                                    br
                                    |«Baxter of California»
                                .product__row
                                    .product__price 3 900 руб.
                                    btn.btn.buy Купить
            include ../common/pagination
    include ../common/footer