.advanteges__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.advanteges__item {
  width: 300px;
  text-align: center;
}

.advanteges__title {
  color: $white;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  margin-bottom: 60px;
  
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -40px;
    border: 10px solid $white;
    transform: rotate(45deg) translateX(-50%);
  }
}

.advanteges__text {
  color: $white;
}