.composition__item {
    margin-bottom: 15px;
    position: relative;
    margin-left: 20px;
    &::before {
        content: "";
        position: absolute;
        top: 40%;
        left: -5%;
        border: 3px solid $black;
        transform: rotate(45deg) translateY(-50%);
    }
}