.main_content {
  background: url(../../img/bg/index-bg.jpg) center center no-repeat;
  background-size: cover;
}

.logo {
  margin: 60px auto;
}

.index__content {
  background-image: url(../../img/bg/pattern-bg.jpg);
  margin-bottom: 35px;
  display: flex;
}

.column_left {
  width: 380px;
  margin: 50px 0;
  margin-left: 80px;
  position: relative;
  &::after {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    content: "";
    width: 1px;
    height: 50%;
    background: grey;
    box-shadow: 0 0 20px black;
  }
}

.column_right {
  width: 300px;
  margin: 50px 80px;
}

.title {
  margin-top: 55px;
  margin-bottom: 30px;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
}

.content {
  margin-bottom: 50px;
}

.content__shop {
  display: flex;
  justify-content: space-between;
}

.content__item {
  display: flex;
  justify-content: space-between;
}