.header {
  margin: 0;
  background-color: #000;
  font-weight: bold;
}

.header_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.navigation__list {
  display: inline-block;
}

.navigation__item {
  list-style-type: none;
  display: inline-block;
  padding: 30px 20px;

  &:last-child {
    margin-right :0;
  }

  &:hover {
    background-color: $grey;
  }
}

.navigation__link {
  margin: 0;
  color: $white;
  text-decoration: none;
}

.user_block {
  width: 140px;
  display: flex;
  align-items: center;
  text-align: right;
}

.login {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  &:hover {
    background-color: $grey;
  }
}

.login__icon {
  width: 20px;
  height: 20px;
  background: url(../../img/icon/icon-login.png) center center no-repeat;
  margin-right: 15px;
}

.login__text {
  margin: 0;
  color: $white;
  text-decoration: none;
}
