.item__imgs {
    width: 470px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.item__img {
    background: #fff;
    box-shadow: 0 0 10px black;
    width: 470px;
    margin-bottom: 20px;

    &.mini {
        width: 140px;
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }

    &:hover {
        box-shadow: 0 0 20px black;
        transition: .7s;
    }
}

.img__pic {
    width: 100%;
}

.desc__item {
    width: 390px;
}

.about__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.present {
    font-size: 14px;
    font-weight: bold;
}

.articul {
    color: $ligth-grey;
    font-size: 14px;
}

.item__text {
    margin-bottom: 45px;
}

.item__price {
    margin-bottom: 70px;
    display: flex;
    justify-content: flex-start;
}
