.login-form p {
    margin: 0;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 300px;
    padding: 10px 15px;
    padding-right: 40px;
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
}
.login-form input:focus {
    border-color: #663d15;
}

.login-form .login-help {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
}

.login-icon-user {
    background-image: url("../../img/icon/user.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-icon-password {
    background-image: url("../../img/icon/lock.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.login-checkbox input[type="checkbox"]+.checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:focus+.checkbox-indicator {
    border-color: #663d15;
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 14px;
    height: 2px;
    background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before {
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
    transform: rotate(-45deg);
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}

.login-form .btn {
    width: 100%;
    margin-right: 0;
}