.manufacturer__item {
    margin-bottom: 25px;
}

.form__label-chekbox {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.form__chekbox {
    position: absolute;
    top: 0;
    left: -9999px;
    &-fake {
        width: 20px;
        height: 20px;
        border: 2px solid black;
        background: transparent;
        position: relative;
        margin-right: 23px;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: width .3s, height .3s;
        }
    }
}
.form__chekbox:checked {
    &+.form__chekbox-fake {
        &:after {
            background: url(../../img/icon/cross.png) 50% no-repeat;
            background-size: cover;
            width: 10px;
            height: 10px;
        }
    }
}