.price__title {
    font-size: 48px;
    text-align: center;
    position: relative;
    &:before {
        content: "";
        display: inline-block;
        background-color: $black;
        width: 180px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0%;
    }

    &:after {
        content: "";
        display: inline-block;
        background-color: $black;
        width: 180px;
        height: 2px;
        position: absolute;
        top: 50%;
        right: 0%;
    }
}

.price__content_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.adw__title {
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: bold;
}

.tools__item {
    font-size: 14px;
    position: relative;
    margin-bottom: 25px;
    margin-left: 20px;
    &::before {
        content: "";
        position: absolute;
        top: 40%;
        left: -5%;
        border: 3px solid $black;
        transform: rotate(45deg) translateY(-50%);
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.price__column__left {
    width: 380px;
}

.price__column__right {
    width: 460px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 460px;
}

td {
    border: 2px solid black;
    padding: 15px 20px;
    width: 50%;
    &:last-child {
        text-align: center;
    }
}
