.socials__list {
  display: flex;
}

.socials__item {
  background: url(../../img/socials/sprite.png);
  background-position: -20px -20px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.social__vk {
  background-position: -352px -20px;
  &:hover {
    background-position: -435px -20px;
  }
}

.social__fb {
  background-position: -20px -20px;
  &:hover {
    background-position: -103px -20px;
  }
}

.social__inst {
  background-position: -186px -20px;
  &:hover {
    background-position: -269px -20px;
  }
}